{% extends 'base.html.twig' %}

{% block title %}Edit Picture
{% endblock %}

{% block body %}
	<h1 class="h1">Edit Picture</h1>

	{{ form_start(form) }}

	<div>
		{{ form_label(form.name) }}
		{{ form_widget(form.name)}}

	</div>

	<div>
		{{ form_label(form.description) }}
		{{ form_widget(form.description)}}

	</div>

	<div>
		{{ form_label(form.url) }}
		{{ form_widget(form.url)}}
	</div>

	<div>
		{{ form_row(form.submit)}}
	</div>

	{{ form_end(form) }}

	<a class="link" href="{{ path('app_picture_index') }}">back to list</a>

	<a class="link" href="{{ path('app_picture_delete', {'id': picture.id}) }}">Delete</a>
{% endblock %}
