{% extends 'base.html.twig' %}

{% block title %}Edit Album
{% endblock %}

{% block body %}
	<h1 class="h1">Edit Album</h1>

	{{ form_start(form) }}

	<div>
		{{ form_label(form.name) }}
		{{ form_widget(form.name)}}

	</div>

	<div>
		{{ form_label(form.description) }}
		{{ form_widget(form.description)}}

	</div>

	<div>
		{{ form_label(form.pictures) }}
		{{ form_widget(form.pictures)}}
	</div>

	<div>
		{{ form_row(form.submit, {'label': 'update album'})}}
	</div>

	{{ form_end(form) }}

	<a href="{{ path('app_album') }}">back to list</a>

	<a href="{{ path('app_album_delete', {'id': album.id}) }}">Delete</a>
{% endblock %}
