{% extends 'base.html.twig' %}

{% block title %}
	Album
{% endblock %}

{% block body %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<h1 class="h1">Album</h1>
		<a href="{{ path('app_album_new') }}">Add new album</a>

		{% for message in app.flashes('success') %}
			{{ message }}
		{% endfor %}

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>creatAt</th>

				</tr>
			</thead>
			<tbody>
				{% for album in albums %}
					<tr>
						<td>{{ album.id }}</td>
						<td>{{ album.name }}</td>
						<td>{{ album.description }}</td>
						<td>{{ album.creatAt ? album.creatAt|date('d-m-Y H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_album_show', {id: album.id}) }}">show</a>
							<a href="{{ path('app_album_edit', {id: album.id}) }}">edit</a>
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% else %}
		<tr>
			<td>no records found</td>
		</tr>
	{% endfor %}
</tbody></table>{# {% endfor %} #}{# <a href="{{ path('app_picture_new') }}">Add new</a> #}{% else %}<h2>You need to be connected</h2><a href="{{ path('security.login') }}">Login</a>{% endif %}{% endblock %}
